.app {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.app--leftContent {
  background-color: $ligthBlue;
  img {
    float: left;
    border: red($color: #000000);
    border-radius: 50%;
  }
}

.app--rightContent {
  background-color: $ligthPurple;
  img {
    float: right;
  }
}
