* {
    margin: 0%;
    padding: 0%;
}

body {
    color: black;
    background-color: whitesmoke;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    grid-template-areas:
        "header header header"
        "menu menu toolbar"
        "content content toolbar"
        "footer footer footer";
    
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4. auto);
    max-width: 100%;
    display: grid;
    width: 100%;
}

.container .content,
.container .toolbar,
.container .footer,
.container .header,
.container .menu {
    background: white;
    padding: 5%;
}

.container .header{
    background: #0929C7;
    grid-area: header;
    color: white;
}

.container .menu{
    background: #C73A0C;
    grid-area: menu;

}

.container .content{
    background: #FAA269;
    grid-area: content;
}


.container .toolbar{
    background: #28B9FA;
    grid-area: toolbar;
}


.container .footer{
    color: white;
    grid-area: footer;
    background: #293B94;
}

@media screen and (max-width: 768px){
    .container {
        grid-template-areas:
            "header header header"
            "menu menu menu"
            "toolbar toolbar toolbar"
            "content content content"
            "footer footer footer";
    }
}

@media screen and (max-width: 600px){
    .container {
        grid-template-areas:
            "header header header"
            "menu menu menu"
            "content content content"
            "footer footer footer";
    }

    .container .toolbar {
        display: none;
    }
}