.btn {
  grid-area: btn;
  padding-top: 1.5em;
}

.nav {
  grid-area: nav;
  padding: 1em 1.5em;
}

.ctn {
  grid-area: ctn;
  padding: 0 1.5em;
}

.frm {
  grid-area: frm;
  padding: 0 1.5em;
}

/*Grid*/

.app {
  grid-template-areas:
    "nav nav btn btn btn btn"
    "nav nav ctn ctn ctn ctn"
    "nav nav ctn ctn ctn ctn"
    "nav nav ctn ctn ctn ctn"
    "nav nav ctn ctn ctn ctn"
    "nav nav frm frm frm frm";

  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, auto);
  max-width: 100%;
  display: grid;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .app {
    grid-template-areas:
      "nav nav nav nav nav nav"
      "nav nav nav nav nav nav"
      "ctn ctn ctn ctn ctn ctn"
      "ctn ctn ctn ctn ctn ctn"
      "ctn ctn ctn ctn ctn ctn"
      "btn btn btn btn btn btn"
      "frm frm frm frm frm frm";

    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(7, auto);
    max-width: 100%;
    display: grid;
    width: 100%;
  }
}
