.container {
    .nav {
        grid-area: nav;
        background-color: coral;
    }
    .nav--li {
        padding: 2em;
        display: inline-flex;
        @include border-radius(10px);

        &:hover {
            background-color: rgba(139, 0, 0, 0.795);
        }        
    }
}
