%sideContent {
    background: darkgray;
    padding: 3em;
    margin: 2em;
}

.container{
    .ct1 {
        @extend %sideContent;
        grid-area: ct1;
    }

    .ct2 {
        @extend %sideContent;

        grid-area: ct2;
    }

    .ct3 {
        @extend %sideContent;

        grid-area: ct3;
    }
}