.container{
    .ct1 {
        background: darkgray;
        grid-area: ct1;
        padding: 3em;
        margin: 2em;
    }

    .ct2 {
        background: darkgray;
        grid-area: ct2;
        padding: 3em;
        margin: 2em;
    }

    .ct3 {
        background: darkgray;
        grid-area: ct3;
        padding: 3em;
        margin: 2em;
    }
}