%card {
    padding: 10%;
    background-color: rgb(20, 20, 20);    
}

.container {
    .st1 {
        @extend %card;
        grid-area: st1;
    }

    .st2 {
        @extend %card;
        grid-area: st2;
    }

    .st3 {
        @extend %card;
        grid-area: st3;
    }

    .st--img {
        height: 20%;
        width: 100%;
        align-self: center;
        display: inline-block;
    }
}
