* {
    color: white;
    padding: 0%;
    margin: 0%;
}

body {
    background-color: lightgray;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: red;
    text-decoration: underline;
}

li:hover {
    background-color: rgba(139, 0, 0, 0.795);
}


/*
nav -> Navigator nav bar
hrd -> Main Header and img
mct -> Main content
st1 -> Side content #1
st2 -> Side content #2
st3 -> Side content #3
cnt -> Contenido
pgs -> Pages
ftr -> Footer
*/

.container {
    grid-template-areas:
        "hdr hdr hdr hdr hdr hdr"
        "hdr hdr hdr hdr hdr hdr"
        "hdr hdr hdr hdr hdr hdr"
        "hdr hdr hdr hdr hdr hdr"
        "nav nav nav nav nav nav"
        "mct mct mct st1 st1 st1"
        "mct mct mct st2 st2 st2"
        "mct mct mct st3 st3 st3"
        "cnt cnt cnt cnt cnt cnt"
        "cnt cnt cnt cnt cnt cnt"
        "ftr ftr ftr ftr ftr ftr"
        "ftr ftr ftr ftr ftr ftr"
        "ftr ftr ftr ftr ftr ftr";
    
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(14, auto);
    max-width: 100%;
    display: grid;
    width: 100%;
}

.container__hdr {
    grid-area: hdr;
    background-color: darkred;
}

.container__hdr--img {
    width: 50%;
    height: 100%;
    display: block;
    transition: 0.6s;
    margin-left: auto;
    margin-right: auto;
}

/*
    width: 3em;
    height: 5em;
*/

.container__nav {
    grid-area: nav;
    background-color: coral;
}

.container__nav--li {
    padding: 2em;
    border-radius: 5px;
    display: inline-flex;
}

.container__mct {
    padding: 3%;
    grid-area: mct;
    background: #000;
}

.container__st1 {
    padding: 30%;
    grid-area: st1;
    background-color: rgb(20, 20, 20);
}

.container__st2 {
    padding: 30%;
    grid-area: st2;
    background-color: rgb(20, 20, 20);
}

.container__st3 {
    padding: 30%;
    grid-area: st3;
    background-color: rgb(20, 20, 20);
}

.container__st--img {
    width: 60%;
}

.container__ftr {
    grid-area: ftr;
    background: #000;
    
}