* {
  color: white;
  padding: 0%;
  margin: 0%;
}

body {
  background-color: lightgray;
}

a {
  text-decoration: none;
}

/*
nav -> Navigator nav bar
hrd -> Main Header and img
mct -> Main content
st1 -> Side content #1
st2 -> Side content #2
st3 -> Side content #3
ct1 -> Content #1
ct2 -> Content #2
ct3 -> Content #3
pgs -> Pages
ftr -> Footer
*/
.container {
  grid-template-areas: "hdr hdr hdr hdr hdr hdr" "hdr hdr hdr hdr hdr hdr" "hdr hdr hdr hdr hdr hdr" "hdr hdr hdr hdr hdr hdr" "nav nav nav nav nav nav" "mct mct mct st1 st1 st1" "mct mct mct st2 st2 st2" "mct mct mct st3 st3 st3" "ct1 ct1 ct2 ct2 ct3 ct3" "ct1 ct1 ct2 ct2 ct3 ct3" "ftr ftr ftr ftr ftr ftr" "ftr ftr ftr ftr ftr ftr" "ftr ftr ftr ftr ftr ftr";
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(14, auto);
  max-width: 100%;
  display: grid;
  width: 100%;
}

@media screen and (max-width: 600px) {
  .container {
    grid-template-areas: "hdr hdr hdr hdr hdr hdr" "hdr hdr hdr hdr hdr hdr" "hdr hdr hdr hdr hdr hdr" "hdr hdr hdr hdr hdr hdr" "nav nav nav nav nav nav" "mct mct mct mct mct mct" "mct mct mct mct mct mct" "mct mct mct mct mct mct" "st1 st1 st1 st1 st1 st1" "st2 st2 st2 st2 st2 st2" "st3 st3 st3 st3 st3 st3" "ct1 ct1 ct1 ct1 ct1 ct1" "ct2 ct2 ct2 ct2 ct2 ct2" "ct3 ct3 ct3 ct3 ct3 ct3" "ftr ftr ftr ftr ftr ftr" "ftr ftr ftr ftr ftr ftr" "ftr ftr ftr ftr ftr ftr";
  }
  .container .nav--li {
    padding: 1.8em;
  }
  .container .ftr {
    color: white;
    grid-area: ftr;
    padding-top: 10%;
    background: #000;
    text-align: center;
  }
  .container .ftr__lst--itm--img {
    width: 4em;
    height: 4em;
    width: auto;
  }
}
.container .hdr {
  grid-area: hdr;
  background-color: darkred;
}
.container .hdr--img {
  width: 50%;
  height: 90%;
  display: block;
  transition: 0.6s;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0%;
  margin-top: 0%;
}

.container .nav {
  grid-area: nav;
  background-color: coral;
}
.container .nav--li {
  padding: 2em;
  display: inline-flex;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
}
.container .nav--li:hover {
  background-color: rgba(139, 0, 0, 0.795);
}

.container .mct {
  padding: 3%;
  grid-area: mct;
  background: #000;
}

.container .st3, .container .st2, .container .st1 {
  padding: 10%;
  background-color: #141414;
}

.container .st1 {
  grid-area: st1;
}
.container .st2 {
  grid-area: st2;
}
.container .st3 {
  grid-area: st3;
}
.container .st--img {
  height: 20%;
  width: 100%;
  align-self: center;
  display: inline-block;
}

.container .ct3, .container .ct2, .container .ct1 {
  background: darkgray;
  padding: 3em;
  margin: 2em;
}

.container .ct1 {
  grid-area: ct1;
}
.container .ct2 {
  grid-area: ct2;
}
.container .ct3 {
  grid-area: ct3;
}

.container .ftr {
  padding: 10%;
  color: white;
  grid-area: ftr;
  background: #000;
  text-align: center;
}
.container .ftr__lst {
  margin: auto;
  max-width: 60%;
  display: inline;
}
.container .ftr__lst--itm {
  display: inline;
  padding-left: 4em;
}
.container .ftr__lst--itm--img {
  width: 5em;
  height: 5em;
  width: auto;
}
.container .ftr__drs {
  margin: auto;
  max-width: 45%;
}

/*# sourceMappingURL=main.css.map */
